/* General Style  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    Font-family : 'Rowdies', cursive;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    color: rgb(0, 0, 0);
}

.container {
    width: 414px;
    height: 736px;
    background: #45BADD;
    border-radius: 30px;
}

/* Style For Header Section */

.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-header-logo {
    width: 67px;
    height: 49px;
    margin: 25px 70px 0 0;
}

.container-header-home {
    width: 48px;
    height: 48px;
    margin: 25px 0 0 70px;
}