* {
    font-family: 'Rowdies', cursive, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #45BADD;
    
}
/*Header Style*/
.header {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    margin: 15px;
}
.back-img {
    background-color: #fff;
    border-radius: 51px;
}

.icons{
    margin: 15px;
}
/*Words Section style*/
.words {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.words-container{
    width: 90%;
}
button{
    border: none;
    outline: none;
}

.words-container button { /*your words buttons */
    width: 170px;
    height: 55px;
    border-radius: 15px;
    margin: 5px;
    background-color: #fff;
    border: #82FF34 2px solid;
    font-size: 25px;
    font-weight: 100;
}
.remove-icon{
    float: right;
    margin-right:  5px;
}
/*Footer Style*/
.footer button { /*remove all button*/
    width: 206px;
    height: 53px;
    border-radius: 51px;
    background-color: #82FF34;
    color: #FF3482;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    box-shadow: 0px 2px 2px #FF3482;

}
button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 4px #FF3482;
}
.footer {
    position: fixed;
    bottom: 10%;
    left: 25%;
    
    
}
/* Media Quiery */
/*Responsive on 425 px and up*/
@media screen and (min-width: 425px){ 

    .logo-img {
        width: 120px;
        height: 80px;
    }
    .home-img {
        width: 80px;

    }
    .back-img {
        width: 70px;
    }
    
}
/*Responsive on 768 px and up*/
@media screen and (min-width: 768px){ 
    .words-container {
        display: flex;
        justify-content: center;
        align-items: center;
    } 
}