*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #45BADD;
    Font-family : 'Rowdies', cursive;
}

.logo-and-who-is-tec-button-container{
    display: flex;
    justify-content: space-between;
}

#tec-logo-index{
    margin:  27px 23px;
}

#who-is-tec-button{
    margin-top: 2.2rem;
    margin-right: 1.4rem;
    width: 8.5rem;
    height: 5.4vh;
    background: #FF3482;
    box-shadow: -5px 5px 6px 1px rgba(130, 255, 52, 0.57);
    border-radius: 73px;
    font-size: 1.1rem;
    border: none;
    color: #FFFAFA;
}